<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.AppAnswerRecordMapper" >
  <!-- 返回所有的字段 -->
  <resultMap id="BaseResultMap" type="com.sojson.common.model.AppAnswerRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <id column="qid" property="qid" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="TIMESTAMP"/>
    <result column="res" property="res" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,uuid,qid,time,res
  </sql>
  
  <!-- 根据手机号码查询用户信息-->
  <!-- <select id="queryUserInfoByPhone" parameterType="string" resultType="com.sojson.common.model.AppUserInfo" >
  	select 
    <include refid="Base_Column_List" />
    from app_user_info 
    where phone=#{phone}
  </select> -->
  <insert id ="insertBatch" parameterType="java.util.List" >
      <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
          SELECT LAST_INSERT_ID()
      </selectKey >
      insert into app_answer_record(uuid,qid,time,res)
      values
       <foreach collection ="list" item="AppAnswerRecord" index= "index" separator =",">
           (
           #{AppAnswerRecord.uuid},
           #{AppAnswerRecord.qid},
           #{AppAnswerRecord.time},
           #{AppAnswerRecord.res}
           )
       </foreach >
   </insert >

  
  
</mapper>
