<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.AppOptionsMapper" >
  <!-- 返回所有的字段 -->
  <resultMap id="BaseResultMap" type="com.sojson.common.model.AppOptions" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="qid" property="qid" jdbcType="BIGINT" />
    <id column="seq" property="seq" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,qid,seq,content
  </sql>
  
  <!-- 根据手机号码查询用户信息-->
  <!-- <select id="queryUserInfoByPhone" parameterType="string" resultType="com.sojson.common.model.AppUserInfo" >
  	select 
    <include refid="Base_Column_List" />
    from app_user_info 
    where phone=#{phone}
  </select> -->
  

  
  
</mapper>
